* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    /* justify-content: center;s */
    /* align-items: center; */

    background-color:burlywood;
    width: 100vw;
    height: 100vh;
}

.filho{
    background-color: black;
    color: white;
    height: 300px;
    width: 300px;

    border: 10px solid white;
    padding: 100px;
    margin: 50px;


    /* margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-left: 50px; */

    margin: 100px 50px;
}